# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL="https://sopriedxylzxummxyfiv.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvcHJpZWR4eWx6eHVtbXh5Zml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg2MzI4NTYsImV4cCI6MjA4NDIwODg1Nn0.pxtWUVYykEK9WreTap1UGbz-pMYvQr0stqUy6h6BzI0"
